@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body, html {
  font-family: 'Playfair Display', serif;
}
