@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background-image: linear-gradient(to bottom right, #35D6ED, #C9F6FF);
  background-repeat: no-repeat;
}
body, html {
  font-family: 'Playfair Display', serif;
}


