.table-body tr:nth-child(odd) {
  background-color: lightgrey;
}

.table-body tr:nth-child(-n + 4) {
  background-color: limegreen;
  border-bottom: 0.2px solid lightgrey;
}

.table-body tr:nth-child(n + 5):nth-child(-n + 6) {
  background-color: lime;
  border-bottom: 0.2px solid lightgrey;
}

.table-body tr:nth-child(7) {
  background-color: yellowgreen;
}

.table-body tr:nth-last-of-type(3) {
  background-color: orange;
}

.table-body tr:nth-last-child(-n+2) {
  background-color: orangered;
  border-top: .2px solid lightgrey;
}

.position-text, .points-text {
  font-size: 24px;
  font-weight: 750;
  color: gold;
  text-shadow: -1px 1.1px 0 black,
                1px 1.1px 0 black,
                1px -1.1px 0 black,
               -1px -1.1px 0 black;
}

.badge {
  padding: 2.5px;
  width: 50px;
  height: 50px;
}

.badge-1 {
  padding-top: 10px;
}
