.table-body tr:nth-child(odd) {
  background-color: lightgrey;
}

.table-body tr:nth-child(even) {
  background-color: whitesmoke;
}

/* Bundesliga styling */
.table-body-BL1 tr:nth-child(-n + 4) {
  background-color: limegreen;
  border-bottom: 0.2px solid lightgrey;
}

.table-body-BL1 tr:nth-child(n + 5):nth-child(-n + 6) {
  background-color: lime;
  border-bottom: 0.2px solid lightgrey;
}

.table-body-BL1 tr:nth-child(7) {
  background-color: yellowgreen;
}

.table-body-BL1 tr:nth-last-of-type(3) {
  background-color: orange;
}

.table-body-BL1 tr:nth-last-child(-n+2) {
  background-color: orangered;
  border-top: .2px solid lightgrey;
}

/* Premier League styling */

.position-text, .points-text, .team-name-text {
  font-size: 24px;
  font-weight: 750;
  color: gold;
  text-shadow: -1px 1.1px 0 black,
                1px 1.1px 0 black,
                1px -1.1px 0 black,
               -1px -1.1px 0 black;
}

.badge {
  padding: 2.5px;
  width: 50px;
  height: 50px;
}

.badge-1 {
  padding-top: 10px;
}

.name-text {
  font-weight: bolder;
  font-size: large;
  text-shadow: -1px 0.2px 0 whitesmoke,
                1px 0.4px 0 whitesmoke,
                1px -0.2px 0 whitesmoke,
               -1px -0.4px 0 whitesmoke;
}

@media screen and (max-height: '600px') {
  .name-text {
    font-size: 16px;
  }
}
